/* ===========================================
      Here we are importing Google font css link
    =========================================== */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

/*  ===========================================
              Reset our css default styling
      ======================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Fira Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("../img/bg.jpg");
  background-repeat: none;
  background-size: cover;
}

.card {
  width: 100%;
  max-width: 500px;
  background-color: #79797982;
  padding: 2rem;
  border-radius: 2px;
  margin: 2rem;
  font-family: var(--main-font);
  transition: all 0.6s cubic-bezier(0.55, 0.14, 0.29, 0.76);
  font-weight: bolder;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 2px 23px -8px #fff;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Input {
  width: calc(100% - 10%);
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  outline: none;
  font-family: var(--main-font);
  text-transform: capitalize;
}

#Btn {
  margin: 0 8px;
  border: none;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  transition: all 0.4s linear 0s;
  outline: none;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Btn:hover {
  cursor: pointer;
  background: rgb(255 242 123);
}

#city {
  font-size: 2rem;
  color: #ffea2d;
  font-weight: bolder;
  letter-spacing: 2px;
}

.py-3 {
  padding: 1rem 0;
}

#temp {
  font-size: 2.5rem;
}

.Icon-box {
  display: flex;
  align-items: center;
}

#humi {
  margin: 4px 0;
}

.data-box {
  font-size: 1.1rem;
}
